@import "mixins.scss";


$black: #011627;
$blacklight: #656073;


* {
  box-sizing: border-box;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
}

.main-wrap{
  overflow: hidden;
  position: relative;
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

button{
  outline: 0;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

select{
  outline: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

body{
  color: #090909;
}

a{
  color: #090909;
}

.tablet{
  @media (min-width: 992px) {
    display: none !important;
  }
}
.mobile{
  @media (min-width: 768px) {
    display: none !important;
  }
}

input{
  transition: 0.3s;

  &:focus{
    border-color: #5b6e7b !important;
    color: #163143 !important;
  }
  &:active{
    border-color: #5b6e7b !important;
  }

}
.correct input,
.correct textarea{
  color: #5b6e7b !important;
  border-color: #aef7e9 !important;
}

.error-field input,
.error-field textarea{
  color: #5b6e7b !important;
  border-color: #ee789a !important;
}

.page__wrapper{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.custom-row{
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.custom-col{
  padding: 0 15px;
}

.site-container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


.site-btn{
  width: fit-content;
  height: 34px;
  color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 38px 0px rgba(105, 198, 231, 0.91);
  border: 1px solid #69c6e7;
  background: #69c6e7;
  transition: .3s all;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 19px;

  &:hover{
    background: #0b5ea3;
    border-color: #0b5ea3;
    box-shadow: 0px 0px 24px 0px rgba(1, 83, 156, 0.74);
  }

  &--transparent{
    box-shadow: none;
    color: #336699;
    border-color: #336699;
    background: transparent;

    &:hover{
      color: white;
    }
  }
}

.site-form{
  display: flex;
  flex-wrap: wrap;

  &__row{
    width: 100%;
    margin-bottom: 30px;
  }

  &__input{
    display: flex;

    input{
      width: 100%;
      padding: 0 30px;
      color: #333333;
      font-size: 18px;
      border-width: 1px;
      border-color: rgb(51, 51, 51);
      border-style: solid;
      border-radius: 30px;
      line-height: 51px;
      background: transparent;

      @include for-992{
        font-size: 16px;
      }
    }
  }

  &__btn{

  }

  &__btn-i{
    max-width: 225px;
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__public-offer{
    p{
      margin: 0;
      font-size: 14px;
      color: #333333;

      a{
        color: #336699;
        text-decoration: underline;
        transition: .2s all;

        &:hover{
          text-decoration: none;
          color: #69c6e7;
        }
      }
    }
  }

}

.page__content{
  margin-top: 105px;
}

h1{
  color: #336699;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  text-transform: uppercase;
}

h2, .site-title{
  color: #333333;
  font-size: 48px;
  text-align: center;
  line-height: 48px;
  margin-bottom: 50px;
  font-weight: 500;
}


.text-block{

  &__inner{
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__title{

  }

  p{
    color: #333333;
    margin: 30px 0;
    text-align: justify;
    line-height: 24px;
  }

  img{
    margin: 8px 15px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 11.18px 1.82px rgba(0, 0, 0, 0.07);
    max-width: 570px;
  }

}

/*header*/

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: .3s all;

  &__inner{
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__top-wrap{
    background: white;
    width: 100%;
  }

  &__top{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    background: white;
    height: 105px;
  }

  &__logo{
    display: flex;
    align-items: center;
  }

  &__logo-i{
    width: 294px;
    display: flex;

    img{
      width: 100%;
    }
  }

  &__content{
    display: flex;
    align-items: center;
  }

  &__region{
    margin-right: 20px;

    .ui-selectmenu-button{
      background: transparent;
      border: none;
      outline: none;
      position: relative;
      color: #333333;
      width: auto;

      .ui-selectmenu-icon{
        background: url("../img/ico/triangle.svg") center/contain no-repeat;
        transform: rotate(180deg);
        filter: grayscale(1);
        width: 11px;
        height: 7px;
        top: 7px;
        right: 2px;
      }

      &[aria-expanded="true"] {
        .ui-selectmenu-icon {
          background: url("../img/ico/triangle.svg") center/contain no-repeat;
          transform: rotate(0deg);
          filter: grayscale(0);
          top: 6px;
        }
      }

      &:active{
        color: inherit;
      }
    }
  }

  &__phone{
    margin-right: 20px;
  }

  &__phone-i{
    font-size: 22px;
    color: #59c0e4;
    transition: .3s all;

    &:hover{
      color: #0b5ea3;
    }
  }

  &__btn{

  }

  &__btn-i{

  }

  &__mobile-btn{

  }

  &__mobile-btn{

  }

  &__bottom{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &.scroll{
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
      background: white;
  }

}

.ui-widget.ui-widget-content{
  border: 0;
  padding-left: 10px;
  padding-right: 18px;
}
.ui-button.ui-state-active:hover, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active{
  background: #69c6e7 !important;
  border-color: #69c6e7;
}

.nav{

  &__title{

  }

  &__list{
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
  }

  &__item{
    padding:  0 15px;
    transition: .3s;
    position: relative;


    &.parent:hover{

    }
  }

  &__link{
    color: #333333;
    font-size: 18px;
    text-transform: uppercase;
    transition: .2s all;
    position: relative;
    &:hover{
      color: #69c6e7 !important;
    }
  }

  &__item:hover &__link{
    color: #336699;
    z-index: 2;
  }

  &__triangle{
    background: url("../img/ico/triangle.svg") center/contain no-repeat;
    transform: rotate(180deg);
    filter: grayscale(1);
    width: 11px;
    height: 7px;
    top: 0;
    display: inline-flex;
    margin-left: 8px;
    z-index: 2;
    position: relative;
  }

  &__item:hover &__triangle{
    background: url("../img/ico/triangle.svg") center/contain no-repeat;
    transform: rotate(0deg);
    filter: grayscale(0);
  }


  &__submenu{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: .3s all;
    top: -13px;
    padding: 50px 15px 15px;
    background: white;
    border-radius: 0 0 5px 5px
  }

  &__item:hover &__submenu{
    z-index: 1;
    opacity: 1;
    visibility: visible;
  }

  &__submenu-link{
    text-align: center;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
    transition: .3s all;
    white-space: nowrap;

    &:hover{
      color: #69c6e7;
    }
  }

  &__bottom{

  }
}


.top-home{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
  }

  &__img{
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;

    img{
      position: relative;
      bottom: -3px;
    }
  }

  &__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title{
    margin-bottom: 60px;
    max-width: 465px;
  }

  &__btn{
    display: flex;
  }

  &__btn-i{
    height: 53px;
    font-size: 18px;

    &:first-child{
      margin-right: 25px;
      padding: 0 30px;
    }
  }

}

.advantage{
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;

  &__inner{
    padding-top: 80px;
  }

  &__title{

  }

  &__content{

  }

  &__item{
    display: flex;
    width: 33.33333%;
    justify-content: space-between;
    margin-bottom: 95px;
  }

  &__num{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 1.5px;
    margin-right: 15px;
    color: #336699;
  }

  &__item:nth-child(odd) &__num{
    color: #59c0e4;
  }

  &__txt{

  }

  &__name{
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
  }

  &__desc{
    color: #333333;
  }

}

.our-service{

  &__inner{
    padding-bottom: 50px;
  }

  &__title{

  }

  &__slider{

  }

  &__item{
    padding: 0 10px;
    transition: .3s all;
  }

  &__item-content{
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-color: rgb(51, 102, 153);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding-bottom: 35px;
  }

  &__item-title{
    color: #333333;
    font-weight: 500;
    font-size: 20px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background-color: #dee8fb;
    width: 100%;
  }

  &__item-txt{
    padding: 25px 24px 35px;
    color: #333333;
    text-align: center;
  }

  &__item-btn{
    max-width: 255px;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

}

.doctors{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__inner{
    padding-top: 85px;
    padding-bottom: 65px;
  }

  &__title{

  }

  &__slider{

  }

  &__item{
    padding: 30px;
    transition: .3s all;


    opacity: 0.4;
    transform: scale(0.8);
  }

  &__photo{
    margin-bottom: 40px;
  }

  &__photo-i{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &__name{
    text-align: center;
    width: 100%;
    color: #333333;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
  }

  &__caption{
    color: #333333;
    margin-bottom: 30px;
    text-align: center;
  }

  &__btn{
    margin: 0 auto;
    font-size: 18px;
    height: 44px;
    min-width: 200px;
    opacity: 0;
  }

}

.why-we{

  &__inner{
    padding-top: 80px;
  }

  &__title{

  }

  &__content{

  }

  &__list{
    justify-content: space-between;
  }

  &__item{
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__ico{
    margin-bottom: 40px;
  }

  &__name{
    color: #1a1a1a;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  &__txt{
    color: #666666;
    text-align: center;
  }

}

.consultation{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__inner{
    padding-top: 90px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__img{
    width: 40%;
  }

  &__img-i{
    position: absolute;
    width: 328px;
    height: 338px;
    left: 20%;
    transform: translateX(-50%);
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__info{
    width: 60%;
  }

  &__title{
    color: #336699;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  &__form{

    form{
      display: flex;
      flex-wrap: wrap;
    }
    .site-form__row{
      max-width: 325px;
      padding-right: 15px;
    }

    .site-form__btn{
      width: 40%;
    }
  }

}

.service-price{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__inner{
    padding-top: 80px;
  }

  &__title{

  }

  &__content{
    display: flex;
    flex-direction: column;
  }

  &__head &__col{
    font-size: 20px;
    font-weight: 500;
    color: #333333;
  }

  &__row{
    border-bottom: 1px solid #e9e9ea;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__col{
    color: #333333;
    line-height: 24px;

    &--name{
      width: 60%;
    }

    &--btn{
      max-width: 127px;
      width: 100%;
    }

    &--price{
      width: 15%;
    }
  }

  &__btn{
    width: 100%;
  }

  &__list{

  }

}

.review{
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;

  &__inner{
    padding-top: 80px;
  }
  &__title{

  }
  &__slider{

  }
  &__item{

  }
  &__img{

  }
  &__info{

  }
  &__head{

  }
  &__txt{

  }
}

.about{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__inner{
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
  }


  img{
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 0;
  }

  &__content{
    width: 50%;
    margin-left: auto;
    padding-left: 15px;
  }

  &__title{
    text-align: start;
    margin-bottom: 35px;
    width: 50%;
    margin-left: auto;
    padding-left: 15px;
  }

  p{
    color: #333333;
    margin: 30px 0;
    text-align: justify;
    line-height: 24px;
  }

}

.license{
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;

  &__inner{
    padding-top: 80px;
  }

  &__title{

  }

  &__slider{

  }

  &__item{


    img{
      padding: 15px;
      transition: .2s all;
    }
  }

}

.owl-carousel{

  .owl-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 27px;
    height: 39px;
    background: url("../img/arrow-slide-l.png") center/contain no-repeat !important;
    transition: .3s all;

    &:hover{
      opacity: .7;
    }

    span{
      display: none;
    }
  }

  .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 27px;
    height: 39px;
    background: url("../img/arrow-slide-r.png") center/contain no-repeat !important;
    transition: .3s all;

    &:hover{
      opacity: .7;
    }

    span{
      display: none;
    }
  }
}

.slider-styles{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;

  .owl-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 27px;
    height: 39px;
    background: url("../img/arrow-slide-l.png") center/contain no-repeat !important;
    transition: .3s all;

    &:hover{
      opacity: .7;
    }

    span{
      display: none;
    }
  }

  .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 27px;
    height: 39px;
    background: url("../img/arrow-slide-r.png") center/contain no-repeat !important;
    transition: .3s all;

    &:hover{
      opacity: .7;
    }

    span{
      display: none;
    }
  }

  @include from-992 {

    .owl-item.active .our-service__item {
      transform: perspective(500px) rotateY(30deg) scale(0.8);

      .our-service__item-btn{
        pointer-events: none;
        background: transparent;
        color: #336699;
        border-color: #336699;
        box-shadow: none;
      }
    }

    .owl-item.active + .owl-item.active + .owl-item.active .our-service__item {
      transform: perspective(500px) rotateY(-30deg) scale(.8);

      .our-service__item-btn{
        pointer-events: none;
        background: transparent;
        color: #336699;
        border-color: #336699;
        box-shadow: none;
      }
    }

    .owl-item.active + .owl-item.active .our-service__item {
      transform: none;

      .our-service__item-btn{
        pointer-events: auto;
        background:  #69c6e7;
        color: white;
        border-color: #69c6e7;
        box-shadow: 0 0 38px 0 rgba(105,198,231,.91);
        border-radius: 30px;

        &:hover {
          box-shadow: 0 0 24px 0 rgba(1, 83, 156, .74);
          background: #0b5ea3;
          border-color: #0b5ea3
        }
      }
    }



    /*license*/

    .owl-item.active .license__item img{
      transform: perspective(500px) rotateY(30deg) scale(0.8);
    }

    .owl-item.active + .owl-item.active + .owl-item.active .license__item img{
      transform: perspective(500px) rotateY(-30deg) scale(.8) ;
    }

    .owl-item.active + .owl-item.active .license__item img{
      transform: none;
    }
  }
}

.slider-styles-opacity{

  .owl-prev, .owl-next{
    width: 17px;
    height: 24px;
  }

  .owl-prev{
    left: -15px;
  }

  .owl-next{
    right: -15px;
  }

  @include from-992 {

    .owl-item.active .doctors__item {

      opacity: 0.4;
      transform: scale(0.8);

      .doctors__btn{
        opacity: 0 ;
      }
    }

    .owl-item.active + .owl-item.active + .owl-item.active .doctors__item {
      opacity: 0.4;
      transform: scale(0.8);

      .doctors__btn{
        opacity: 0;
      }
    }

    .owl-item.active + .owl-item.active .doctors__item {

      opacity:1;
      transform: scale(1);

      .doctors__btn{
        opacity: 1;
      }
    }
  }
}


