header.header
	.header__inner.site-container
		.header__top
			.header__logo
				picture
					source(srcset="./img/logo_main.webp" type="image/webp")
					source(srcset="./img/logo_main.png" type="image/png")
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="294" height="43" alt="img")
			.header__content
				.header__region
					select Выбрать регион
						option Москва
						option Сибирь
				.header__phone
					a(href="tel:88127706519").header__phone-i 8 (812) 770-65-19
				.header__btn
					a(href="#").header__btn-i.site-btn Получить помощь
				.header__mobile-btn
					a(href="javascript:void(0);").header__mobile-btn#menu-btn
		.header__bottom
			.header__nav
				.nav__title Меню
				.nav__list
					.nav__item.parent
						a(href="#").nav__link Лечение алкоголизма
						span.nav__triangle
						.nav__submenu
							a(href="#").nav__submenu-link Вылечить алкоголизм
							a(href="#").nav__submenu-link Вывод из запоя
							a(href="#").nav__submenu-link Нарколог на дом
							a(href="#").nav__submenu-link Кодирование от алко
							a(href="#").nav__submenu-link Лечение в стационаре
							a(href="#").nav__submenu-link Мужской алкоголизм
							a(href="#").nav__submenu-link Женский алкоголизм
							a(href="#").nav__submenu-link Пивной алкоголизм
					.nav__item.parent
						a(href="#").nav__link Лечение наркомании
						span.nav__triangle
						.nav__submenu
							a(href="#").nav__submenu-link Вылечить алкоголизм
							a(href="#").nav__submenu-link Вывод из запоя
							a(href="#").nav__submenu-link Нарколог на дом
							a(href="#").nav__submenu-link Кодирование от алко
							a(href="#").nav__submenu-link Лечение в стационаре
							a(href="#").nav__submenu-link Мужской алкоголизм
							a(href="#").nav__submenu-link Женский алкоголизм
							a(href="#").nav__submenu-link Пивной алкоголизм
					.nav__item
						a(href="#").nav__link Психотерапия
					.nav__item.parent
						a(href="#").nav__link О клинике
						span.nav__triangle
						.nav__submenu
							a(href="#").nav__submenu-link Вылечить алкоголизм
							a(href="#").nav__submenu-link Вывод из запоя
							a(href="#").nav__submenu-link Нарколог на дом
					.nav__item
						a(href="#").nav__link Цены
					.nav__item
						a(href="#").nav__link Контакты
				.nav__bottom
					.header__phone
						a(href="tel:88127706519").header__phone-i 8 (812) 770-65-19
					.header__btn
						a(href="#").header__btn-i.site-btn Получить помощь