header.header
	.header__inner
		.header__top-wrap
			.header__top.site-container
				.header__logo
					a(href="#").header__logo-i
						picture
							source(srcset="./img/logo_main.webp" type="image/webp")
							img(src="./img/logo_main.png" width="294" height="43" alt="img")
				.header__content
					.header__region.desktop
						select#region
							option Выбрать регион
							option Москва
							option Сибирь
					.header__phone
						a(href="tel:88127706519").header__phone-i 8 (812) 770-65-19
					.header__btn.desktop
						a(href="#" data-modal-class="free-help").header__btn-i.site-btn Получить помощь
					.header__mobile-btn.tablet
						a(href="javascript:void(0);").header__mobile-btn-i.menu-btn-js
							img(src="./img/ico/burger-menu.svg" alt="ico")
		.header__bottom.site-container
			.header__nav.nav
				.nav__title.tablet Меню
					a(href="javascript:void(0);").nav__btn-close.menu-btn-close-js

				.nav__list
					.nav__item.parent
						a(href="#").nav__link Лечение алкоголизма
						span.nav__triangle
						.nav__submenu
							a(href="#").nav__submenu-link Вылечить алкоголизм
							a(href="#").nav__submenu-link Вывод из запоя
							a(href="#").nav__submenu-link Нарколог на дом
							a(href="#").nav__submenu-link Кодирование от алко
							a(href="#").nav__submenu-link Лечение в стационаре
							a(href="#").nav__submenu-link Мужской алкоголизм
							a(href="#").nav__submenu-link Женский алкоголизм
							a(href="#").nav__submenu-link Пивной алкоголизм
					.nav__item.parent
						a(href="#").nav__link Лечение наркомании
						span.nav__triangle
						.nav__submenu
							a(href="#").nav__submenu-link Вылечить алкоголизм
							a(href="#").nav__submenu-link Вывод из запоя
							a(href="#").nav__submenu-link Нарколог на дом
							a(href="#").nav__submenu-link Кодирование от алко
							a(href="#").nav__submenu-link Лечение в стационаре
							a(href="#").nav__submenu-link Мужской алкоголизм
							a(href="#").nav__submenu-link Женский алкоголизм
							a(href="#").nav__submenu-link Пивной алкоголизм
					.nav__item
						a(href="#").nav__link Психотерапия
					.nav__item.parent
						a(href="#").nav__link О клинике
						span.nav__triangle
						.nav__submenu
							a(href="#").nav__submenu-link О нас
							a(href="#").nav__submenu-link Врачи
							a(href="#").nav__submenu-link Пример
					.nav__item
						a(href="#").nav__link Цены
					.nav__item
						a(href="#").nav__link Контакты
				.nav__bottom.tablet
					.header__phone
						a(href="tel:88127706519").header__phone-i 8 (812) 770-65-19
					.header__btn
						a(href="#" data-modal-class="free-help").header__btn-i.site-btn Получить помощь